.btn-timer {
    position: relative;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 25px;
}

.btn-timer__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 24px;
    height: 24px;
    stroke: white;
    fill: white;
}

.btn-reset {
    display: block;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
}

.btn-container {
    display: flex;
    align-items: center;
}
